<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StopWords</key>
	<array>
		<string>a</string>
		<string>about</string>
		<string>after</string>
		<string>above</string>
		<string>again</string>
		<string>against</string>
		<string>all</string>
		<string>am</string>
		<string>an</string>
		<string>and</string>
		<string>any</string>
		<string>are</string>
		<string>as</string>
		<string>at</string>
		<string>be</string>
		<string>because</string>
		<string>been</string>
		<string>before</string>
		<string>being</string>
		<string>below</string>
		<string>between</string>
		<string>both</string>
		<string>but</string>
		<string>by</string>
		<string>could</string>
		<string>did</string>
		<string>do</string>
		<string>does</string>
		<string>doing</string>
		<string>down</string>
		<string>during</string>
		<string>each</string>
		<string>few</string>
		<string>for</string>
		<string>from</string>
		<string>further</string>
		<string>had</string>
		<string>has</string>
		<string>have</string>
		<string>having</string>
		<string>he</string>
		<string>he&apos;s</string>
		<string>he&apos;ll</string>
		<string>he&apos;d</string>
		<string>her</string>
		<string>here</string>
		<string>here&apos;s</string>
		<string>herself</string>
		<string>himself</string>
		<string>his</string>
		<string>how</string>
		<string>i</string>
		<string>I</string>
		<string>if</string>
		<string>in</string>
		<string>into</string>
		<string>is</string>
		<string>me</string>
		<string>most</string>
		<string>more</string>
		<string>of</string>
		<string>off</string>
		<string>once</string>
		<string>other</string>
		<string>ought</string>
	</array>
</dict>
</plist>
